.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc solid;
}

.todoItem p {
    margin: 0;
}
.todoItem p input{
    margin-right: 8px;
}
.todoItem button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 13px;
    border-radius: 50px;
}